[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Sudokumaster
Exec=/opt/usr/bin/sudoku
Icon=sudokumaster
StartupWMClass=
X-Window-Icon=sudokumaster
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false